rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stock/{documentId} {
      allow read, write: if true;
    }
    match /orders/{orderId} {
      allow read, write: if true;
    }
    match /complaints/{complaintId} {
      allow read, write: if true;
    }
  }
}
